.presentation-slide-item {
  width: 100%;
  height: 500px;
}

.swiper-container {
  border-radius: 8px;
}

@media (max-width:720px) {
  .swiper-container {
    width: 100%;
    background: red;
  }
}
